body {
  color: #fff;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../src/assets/weather3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 520px) {
  body {
    background-image: url('../src/assets/weather3.jpg');
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

code {
  font-family: 'Ubuntu', sans-serif;
}
h1,h2,h3,h4,h5,h6,span,div,li,ul,i{
  margin: 0;
  text-align: center;

}